{% extends  'base.html' %}


{% block head %}
    <title>AOTODLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
{% endblock %}


{% block main %}
    <div class="container">
        <h1> THIS IS THE GAME </h1>
        <p> work in progress
        </p>
    </div>

    <div class="game_window">
        <img src="{{ url_for( 'static', filename='images/ErenJaeger.webp') }}" alt="CharacterImage" class="character_image">
    </div>
      
{% endblock %}