{% extends  'base.html' %}


{% block head %}
    <title>AOTODLE - Classic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classic.css') }}">
{% endblock %}


{% block main %}
    <div class="container">
        <h1> Classic </h1>
        <p> work in progress
        </p>
        <form action="/classic" method="POST" style="margin: 0;">
            <input type="text" name="name" required>
            <button type="submit"> Enter </button>
        </form>
    </div>

    <div class="game_window">
        {% if found %}
            <h1>CHAR IS FOUND</h1>
            <form action="/classic/start" method="POST" style="margin: 0;">
                <button type="submit"> Restart </button>
            </form>
        {% else %}
        <table border="2">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Affiliation1</th>
                    <th>Affiliation2</th>
                    <th>Residence</th>
                    <th>Status</th>
                    <th>TitanKills</th>
                    <th>TitanPowers</th>
                    <th>Debut</th>
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                <tr>
                    <td><img src="{{url_for('static', filename=character[10].split('static/')[1])}}" class="character_image" /></td>
                    <td>{{ character[1] }}</td>
                    {% if character[2] %}
                        <td> Female </td>
                    {% else %}
                        <td> Male </td>
                    {% endif %}
                    <td>{{ character[3] }}</td>
                    <td>{{ character[4] }}</td>
                    <td>{{ character[5] }}</td>
                    {% if character[6] %}
                        <td> Alive </td>
                    {% else %}
                        <td> Dead </td>
                    {% endif %}
                    <td>{{ character[7] }}</td>
                    {% if character[8] %}
                        <td> Yes </td>
                    {% else %}
                        <td> No </td>
                    {% endif %}
                    <td>{{ character[9] }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
      
{% endblock %}